<div class="container ion-padding">
  <h4 class="header-text">Quick actions</h4>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <!-- Withdraw Cash -->
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <img src="assets/images/withdraw_cash.svg" alt="">
            <p class="action-text">Withdraw Cash</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- E-Loans -->
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <img src="assets/images/eloans.svg" alt="">
            <p class="action-text">E-Loans</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Buy Airtime -->
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <img src="assets/images/buy_airtime.svg" alt="">
            <p class="action-text">Buy Airtime</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Pay Favourite -->
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <img src="assets/images/pay_favourite.svg" alt="">
            <br>
            <p class="action-text">Pay Favourite</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Due Bills -->
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <img src="assets/images/due_bills.svg" alt="">
            <p class="action-text">Due Bills</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>