.header-text {
  color: #00513b;
  font-size: 13px !important;
  text-align: center;
  font-weight: bold;
}

ion-card {
  height: 15vh;
  margin: 0.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: 0pt 1pt 4pt #16450026;
  border: 0.1pt #00513a4d;
}

.action-text {
  padding: 2px !important;
  font-size: 10pt;
  color: #00513b;
  font-weight: 500;
  text-align: center;
}

ion-card-content {
  padding: 2px !important;
}

img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .action-text {
    padding: 2px !important;
    font-size: 9pt;
    color: #00513b;
    font-weight: bold;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .action-text {
    padding: 2px !important;
    font-size: 7pt;
    color: #00513b;
    font-weight: bold;
    text-align: center;
  }
}
