.profile-section {
  height: 10vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.segment-section {
  height: 8vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.slider-section {
  height: 23vh;
}
.text-padding {
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 16pt;
}

ion-segment-button {
  text-transform: none;
  color: white;
  opacity: 70%;
  min-width: none !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  --color-checked: #ffffff !important;
  font-size: 12px;
  --indicator-color: transaparent !important;
}

ion-segment {
  min-width: none !important;
  border-bottom: 3px solid #ffffff;
}

ion-slide {
  padding: 0 20px;
  --bullet-background: #ffffff !important;
}

.ac-type {
  color: #00513b;
  font-size: 12pt;
  text-align: left;
}

.name {
  font-size: rem-cal(10);
  color: #00513b;
  text-align: left;
}

.acc {
  font-size: rem-cal(12);
  color: #00513b;
  text-align: left;
}

ion-card {
  background: #d5e1de;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 7px !important;
}

.view_transaction_btn {
  --border-radius: 8px;
  --border-width: 1px;
  font-size: 12px !important;
}

.show_balance {
  color: #00513b !important;
  text-transform: none !important;
  --ion-color-contrast: #00513b !important;
}

@media screen and (max-width: 360px) and (min-width: 320px) {
  .ac-type {
    color: #00513b;
    font-size: 9pt;
    text-align: left;
    font-weight: bold;
  }

  .name {
    font-size: 10pt;
    color: #00513b;
    text-align: left;
    padding: 2px 0px;
  }

  .acc {
    font-size: 10pt;
    color: #00513b;
    text-align: left;
    padding: 2px 0px;
    font-weight: bold;
  }
}

// Iphone 4
@media only screen and (max-width: 320px) {
  .ac-type {
    color: #00513b;
    font-size: 8pt;
    text-align: left;
  }

  .name {
    font-size: 8pt;
    color: #00513b;
    text-align: left;
  }

  .acc {
    font-size: 8pt;
    color: #00513b;
    text-align: left;
  }
}
