<div>
  <ion-grid class="ion-no-padding">
    <!-- Logo & Profile -->
    <ion-row class="profile-section">
      <ion-col size='2'>
        <div>
          <img class="ion-padding-top" src="assets/images/coop_logo.svg" alt="">
        </div>
      </ion-col>
      <ion-col size='8'>
        <h4 class="text-padding">Hi Jerry</h4>
      </ion-col>
      <ion-col size='2'>
        <ion-avatar>
          <img src="assets/images/pp.png" height="40px" width="40px">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <!-- Segment -->
    <ion-row class="segment-section">
      <ion-col>
        <ion-segment mode="md" class="ion-padding-left" value="accounts">
          <ion-segment-button style="color: #ffffff; opacity: 100%;" value="accounts">
            <span>Accounts</span>
          </ion-segment-button>
          <ion-segment-button value="loans">
            <ion-label>Loans</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cards">
            <ion-label>Cards</ion-label>
          </ion-segment-button>
          <ion-segment-button value="investments">
            <ion-label>Investments</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <!-- Slider -->
    <ion-row class="slider-section">
      <ion-col class="ion-no-padding">
        <ion-slides spaceBetween=" -50" pager="true" [options]="slideOpts">
          <!-- Slide 1 -->
          <ion-slide>
            <ion-card style="width: 100%;">
              <ion-card-content class=" ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <img src="assets/images/elephant.svg" alt="">
                    </ion-col>
                    <ion-col>
                      <p class="ac-type">01105-Jumbo Junior Access A/c</p>
                      <p class="name">Samuel Mbugua Njuguna</p>
                      <p class="acc">01112345678901</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button class="show_balance" size="small" expand="block" fill="solid" color="light">
                        <ion-icon name="eye-outline" slot="start"></ion-icon> Show balance
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <!-- Slide 2 -->
          <ion-slide>
            <ion-card style="width: 100%;">
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <img src="assets/images/elephant.svg" alt="">
                    </ion-col>
                    <ion-col>
                      <p class="ac-type">01105-Jumbo Junior Access A/c</p>
                      <p class="name">Samuel Mbugua Njuguna</p>
                      <p class="acc">01112345678901</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button class="show_balance" size="small" expand="block" fill="solid" color="light">
                        <ion-icon name="eye-outline" slot="start"></ion-icon> Show balance
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <!-- Slide 3 -->
          <ion-slide>
            <ion-card style="width: 100%;">
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <img src="assets/images/elephant.svg" alt="">
                    </ion-col>
                    <ion-col>
                      <p class="ac-type">01105-Jumbo Junior Access A/c</p>
                      <p class="name">Samuel Mbugua Njuguna</p>
                      <p class="acc">01112345678901</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button class="show_balance" size="small" expand="block" fill="solid" color="light">
                        <ion-icon name="eye-outline" slot="start"></ion-icon> Show balance
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- View Transactions Button -->
    <div class="ion-text-center">
      <ion-button fill="outline" class="view_transaction_btn" color="light">VIEW RECENT TRANSACTIONS <ion-icon
          slot="end" name="chevron-down-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <!-- <ion-row class="ion-justify-content-center view_transaction_btn">
      <ion-col>
        <ion-button expand="block" fill="outline" color="light">VIEW RECENT TRANSACTIONS <ion-icon slot="end"
            name="chevron-down-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->


  </ion-grid>
</div>