#container {
  background: url("../../assets/images/background\ big.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-section {
  height: 50vh;
}

.quick-actions {
  height: 50vh;
}
